/** ----------------------------------------------------------------------- **/

header {
  display: block;
}

body {
  margin: 1.5em auto;
  /* width: 90%; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1em;
  /* color: #d7d7d7; */
  padding-bottom: 2em;
}

.container {
  margin: auto;
  width: 900px
}

a {
  color: #87afd7
    /* #d7d7af*/
  ;
}

a:hover {
  color: #cd5c5c;
  border-bottom: 1px dashed;
}


p,
li {
  line-height: 1.45em;
}

p {
  line-height: 1.55em;
}

img {
  max-width: 100%;
}

/* Headers */
h1,
h2 {
  color: #fff;
  padding-bottom: 2px;
}

h1 {
  font-size: 1.5em;
  color: #666657;
  /* text-align: center; */
}

h2 {
  font-size: 1.25em;
  padding-top: 1em;
  color: #cd5c5c;
  /* #87afd7 */
  border-bottom: 0px dashed;
}

/* Lists */
li::marker {
  color: #cd5c5c;
}

li {
  padding-bottom: 0.75em;
  padding-left: 0.25em;
}

li:last-child {
  padding-bottom: 0;
}

ol {
  margin-left: 1em;
}

ol li {
  padding-left: 0;
}

time {
  font-style: italic;
  opacity: 0.5;
}

/* Code blocks */
code,
pre {
  font-family: Consolas, monaco, monospace;
  font-size: 1em;
  color: #fff;
  background-color: #111;
}

pre {
  display: block;
  padding: 1em;
  white-space: pre-wrap;
  word-break: keep-all;
  border-left: 5px solid gray;
}

span.comment {
  color: darkgrey;
}

span.out {
  color: lightgreen;
}

span.cmd {
  color: #cd5c5c;
}

/* Desktop/Laptop screens */
/* @media only screen and (max-width: 900px) {} */

footer {
  font-size: 0.8em;
  margin-top: 3em;
  /* text-align: right; */
}