body {
  font-family: "Times New Roman", Times, serif;
  /* background-color: rgb(255, 147, 74) !important; */
  background-color: rgb(174, 193, 228) !important;
  font-size: 1em;
  color: rgb(2, 43, 105);
}


h1 {
  text-transform: uppercase;
}
dt {
  font-weight: normal;
  margin-bottom: 1em;
}
dd {
  font-style: italic;
  margin-bottom: 0.5em;
}

body > main {
  width: 720px;
  margin: auto;
}
img {
  border-radius: 50%;

  margin-top: 50px;
  border: 1px solid #ddd;
}

table,
tr,
tbody,
thead {
  width: 100%;
}

th {
  text-align: left;
}

thead {
  background: #eee;
}
